:root {
  --background: 'https://www.google.com/search?q=toy+story+3&client=opera-gx&hs=qu1&sxsrf=ALiCzsY5-SXuFW4ftNYq93le6SoZVvjorQ:1670114863787&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjPpcLZ3t77AhVnq5UCHbzVDhYQ_AUoAXoECAEQAw&biw=1879&bih=970&dpr=1#imgrc=blSSP8Ti3u3nZM';
}
body {
  background: rgb(83, 223, 223);
  font-family: 'Zen Dots', cursive;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.layout {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas:
    'header header header header'
    'nav nav nav nav'
    'message message message message'
    'content content content lateral'
    'footer footer footer footer';
  grid-template-rows: 100px 70px auto auto 30px;
}
.header {
  grid-area: header;
  background: white;
  text-align: left;
  font-style: italic;
  display: flex;
  justify-content: center;
}
.header h1 {
  margin-left: 15px;
  margin-top: 30px;
}
.logo {
  background-color: blue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 30px;
}
.play {
  width: 0;
  height: 0;
  margin-top: 15px;
  margin-left: 16px;
  border-left: 12px solid white;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
.nav {
  grid-area: nav;
  background-color: blue;
}
.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav li {
  padding: 10px;
}
.nav a {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: lighter;
  transition: all 300ms;
}
.nav a:hover {
  transform: scale(1.2, 1.2);
}
.content {
  grid-area: content;
  background: rgb(38, 36, 56);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.movie-item {
  flex-grow: 1;
  background: #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #ddd;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 25px;
  padding-left: 25px;
  margin: 20px;
}
button,
input[type='summit'],
input[type='button'] {
  background: blue;
  color: white;
  border: 0;
  outline: 0;
  padding: 15px;
  border-radius: 3px;
  width: 100px;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300mx;
}
.edit:hover {
  background: #e77b00;
}
.delete:hover {
  background: #8b0202;
}
.lateral {
  grid-area: lateral;
  background: #f6f7f9;
  border-left: 1px solid #ddd;
  padding: 20px;
}
.lateral div {
  box-sizing: border-box;
  width: 90%;
  margin: 20px;
  padding: 20px;
  padding-top: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #ddd;
}
.lateral input[type='text'],
input[type='search'],
textarea {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 12px;
  border-radius: 5px;
  background: #f6f7f9;
  color: #454545;
  width: 80%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
}
.footer {
  grid-area: footer;
  background: #d1defa;
  color: #454545;
  border-top: 1px solid white;
  text-align: left;
  line-height: 28px;
  padding-left: 25px;
}
.footer a {
  color: #0b468a;
  text-decoration: none;
}
.message-error {
  grid-area: message;
  background: crimson;
}
.message-error h3 {
  color: white;
}
@media (max-width: 1085px) {
  .content {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .movie-item {
    width: 80%;
  }
}
